<div class="zero">
  <h1 class="zeroequals">Zero Equals One Equals Infinity</h1>
  <h3>Who?</h3>
   <p>All sentient beings are recogized by zero equals one equals infinity. Anyone 18 years or older that desires to join can register, starting with a one year trial period. Inquiry Email: zeroequals1equalsinfinity@gmail.com
   </p>
  <h3>What?</h3>
  <p>
   We are an offically registered 501c3 non-profit orginzation 
  </p>
  <h3>When?</h3>
  <p>
  It always has been and always will be. This is year 4
  </p>
  <h3>Where?</h3>
  <p>
    We are everywhere, nowhere, and within your own mind. Coming to a festival near you
  </p>
  <p>
  Were registered in the United States of America, though we are universal.
  </p>
  <h3>Why?</h3>
  <p>
  To offer a down to earth 21<sup>st</sup>centruy religion
  </p>
  <h3>How?</h3>
  <p>
  With your support <br />
  Paypal: suitcasemusik@gmail.com <br />
  Crypto currency:
</p>
<img src="../images/Logobig.JPG">
</div>