<div id="testimonials">
  <p>
    Mark Gagliano - <br />
    "What a great project promoting several wonderful ideas - my son came to get me and dragged be over to see Suitcase Musik - amazing guy answered everyone's questions while making some phat solar beats! LOVE LOVE LOVE! Loved that you were including information about how you learned - "then I met a teacher..." -so cool! Last night I dreamed "Anyone, anyone, anyone can do it...." 

You rock!"  
  </p>
  <p>Sam Stratton - <br />
  "Love this guy, about as authentic as a musical performer gets."</p>
  <p>
    Terris Anne Packer - <br />
    "This changes the way I think about music. Thank you infinitely"
  </p>
</div>